.passwordStatistic {
    display: grid;
    justify-content: center;
    margin-top: 10%;
    .container {
        text-align: left;
        border-radius: 10px;
        height: 363px;
        width: 400px;
        .row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            border: 1px solid #1e4adf;
            text-align: left;
            .title {
                border: #2525c5 1px solid;
            }
            .value {
                text-align: center;
                border: #2525c5 1px solid;
            }
            h2 {
                margin: 20px;
                font-size: 16px;
            }
        }
    }
}