.changePasswordExternalButton {
    button {
        width: 40px;
        height: 40px;
        background: #2525c5;
        color: #fff;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;
    }
}
.changePasswordExternalButton:hover {
    button {
        background: #1e4adf;
        scale: 1.1;
        box-shadow: 0 4px 8px 0 rgba(12, 12, 12, 12), 0 6px 20px 0 rgba(12, 12, 0, 0.19);
    }
}

.finishPasswordChangeButton {
    margin-top: 10%;
    width: 255px;
    height: 40px;
    background: #2525c5;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.finishPasswordChangeButton:hover {
    background: #1e4adf;
    scale: 1.1;
    box-shadow: 0 4px 8px 0 rgba(12, 12, 12, 12), 0 6px 20px 0 rgba(12, 12, 0, 0.19);
}
